body{
    background:#f8dcd9;
}
#head{
    height: 110px;
 
 }
 .brand-logo {
   width: 100px;
   height: 100px;
   left: 10px;
}

#left{
    top: 10%;
}

#event-form{
    width: 1030px;
    border: 1px solid rgb(209, 144, 144);
    color: black;
    
}

.slides{
    margin : 50px;
}

#trips{
    width: 50px;
    
}


.nav-wrapper {
    background-color: rgb(207, 130, 147);
    height: 50px;
}

#banner {
    width: 1030px;
}
h5 {
    padding-top: 70px;
}

footer {
    background-color: rgb(207, 130, 147);
    height: 50px;
    text-align: center;
}
