body{
    background: rgb(226, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

#head{
    height: 250px;
 }

 .brand-logo {
   width: 150px;
   height: 90px;
}
#left{
    top: 10%;
}

#event-form{
    width: 100%;
    border: 1px solid #777777;
    color: black;  
}

.slides{
    margin : 50px;
}

#trips{
    width: 50px;   
}

.nav-wrapper {
    background-color: rgb(137, 137, 146);   
}

#banner {
    width: 100%;
}

h5 {
    padding-top: 70px;
}

footer {
    background-color: rgb(137, 137, 146);
    height: 50px;
    text-align: center;
<<<<<<< HEAD
}
=======
}

#location, #checkin, #checkout{
    color: black;
    font-size: 1em;
}
>>>>>>> 0e1bd7ca863a25652dc2782ebf7d3b9ce1feda1b
